<div class="facet" ng-repeat="(id, facet) in vm.facets">
  <div class="facet-name">
    {{ facet.name }}
  </div>
  <select ng-if="facet.type != 'text'"
      size="{{ vm.getFacetSize(facet.state.values) }}"
      id="{{ facet.name + '_select' }}"
      class="selector form-control"
      ng-options="value as (value.text + ' (' + value.count + ')') for value in facet.state.values track by value.value"
      ng-model="vm.selectedFacets[id]">
    <option value="">-- Choose value --</option>
  </select>
  <input type="text" ng-if="facet.type === 'text'" ng-model="vm.selectedFacets[id].value"></input>
</div>
